a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
span,
strike,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:focus-visible {
  -webkit-box-shadow: inset 0 0 0 60px rgba(0, 0, 0, 0) !important;
  background-clip: content-box !important;
  border: none;
  outline: none;
  width: 100%;
}
input:-webkit-autofill:active:not([type="range"]),
input:-webkit-autofill:focus:not([type="range"]),
input:-webkit-autofill:hover:not([type="range"]),
input:-webkit-autofill:not([type="range"]),
input:focus-visible:not([type="range"]),
input:not([type="range"]) {
  background-color: rgba(0, 0, 0, 0) !important;
}
textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: inherit;
}
textarea,
textarea:disabled {
  background-color: rgba(0, 0, 0, 0);
}
textarea:disabled {
  color: inherit;
  opacity: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
button {
  outline: none;
}
button {
  border: none;
  padding: 0;
  margin: 0;
  background: unset;
  color: unset;
}
@font-face {
  font-family: FixelDisplay-Regular;
  src: url(../fonts/FixelDisplay-Regular.9dc7ab88.ttf) format("truetype"),
    url(../fonts/FixelDisplay-Regular.410b2fa1.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: FixelDisplay-Medium;
  src: url(../fonts/FixelDisplay-Medium.baf8001e.ttf) format("truetype"),
    url(../fonts/FixelDisplay-Medium.736d6950.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: FixelDisplay-Bold;
  src: url(../fonts/FixelDisplay-Bold.affddbf2.ttf) format("truetype"),
    url(../fonts/FixelDisplay-Bold.2ed3e38a.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NovaPoshta-Regular;
  src: url(../fonts/NovaPoshta-Regular.35032c18.ttf) format("truetype"),
    url(../fonts/NovaPoshta-Regular.2bff5a59.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NovaPoshta-Medium;
  src: url(../fonts/NovaPoshta-Medium.85f1bd8a.ttf) format("truetype"),
    url(../fonts/NovaPoshta-Medium.047f06d3.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: NovaPoshta-Bold;
  src: url(../fonts/NovaPoshta-Bold.90989985.ttf) format("truetype"),
    url(../fonts/NovaPoshta-Bold.2fe771b1.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-spacing: 1px;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  letter-spacing: 0;
  overflow-x: hidden;
  background: #edeff1;
  color: #464b53;
  font-family: FixelDisplay-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 1.3;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1272px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.container .container {
  padding: 0;
}
.main {
  flex: 1 0 auto;
}
.link-label {
  pointer-events: none;
}
.rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  font-family: NovaPoshta-Medium, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.rich-text h1,
.rich-text h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .rich-text h1,
  .rich-text h2 {
    margin-top: 56px;
    margin-bottom: 32px;
  }
}
.rich-text h1:last-child,
.rich-text h2:last-child {
  margin-bottom: 0;
}
.rich-text h1:first-child,
.rich-text h2:first-child {
  margin-top: 0;
}
.rich-text h3 {
  margin-top: 24px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .rich-text h3 {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
.rich-text h3:last-child {
  margin-bottom: 0;
}
.rich-text h3:first-child {
  margin-top: 0;
}
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .rich-text h4,
  .rich-text h5,
  .rich-text h6 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.rich-text h4:last-child,
.rich-text h5:last-child,
.rich-text h6:last-child {
  margin-bottom: 0;
}
.rich-text h4:first-child,
.rich-text h5:first-child,
.rich-text h6:first-child {
  margin-top: 0;
}
.rich-text h1 {
  font-size: 38px;
  line-height: 1.15;
}
@media only screen and (min-width: 768px) {
  .rich-text h1 {
    font-size: 48px;
  }
}
.rich-text h2 {
  font-size: 34px;
  line-height: 1.25;
}
@media only screen and (min-width: 768px) {
  .rich-text h2 {
    font-size: 36px;
  }
}
.rich-text h3 {
  font-size: 32px;
  line-height: 1.2;
}
.rich-text h4 {
  font-size: 28px;
  line-height: 1.2;
}
.rich-text h5 {
  font-size: 24px;
  line-height: 1.2;
}
.rich-text h6 {
  font-size: 22px;
  line-height: 1.2;
}
.rich-text a {
  display: inline;
  text-decoration: underline;
}
.rich-text ol,
.rich-text ul {
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  list-style-position: outside;
  margin-top: 16px;
  margin-bottom: 16px;
}
.rich-text ol:first-child,
.rich-text ul:first-child {
  margin-top: 0;
}
.rich-text ol:last-child,
.rich-text ul:last-child {
  margin-bottom: 0;
}
.rich-text ol li,
.rich-text ul li {
  margin-bottom: 16px;
}
.rich-text ol li:last-child,
.rich-text ul li:last-child {
  margin-bottom: 0;
}
.rich-text ul {
  list-style: disc;
}
.rich-text ol {
  list-style: decimal;
}
.rich-text p {
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .rich-text p {
    margin-bottom: 24px;
  }
}
.rich-text p:first-child {
  margin-top: 0;
}
.rich-text p:last-child {
  margin-bottom: 0;
}
.rich-text blockquote {
  display: block;
  border-radius: 0 20px 20px 0;
  border-left: 4px solid #dbdfe4;
  padding: 20px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: NovaPoshta-Bold, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.h1 {
  font-size: 38px;
  line-height: 1.15;
}
@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 64px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 1025px) {
  .h1 {
    font-size: 88px;
    line-height: 1;
  }
}
.h2 {
  font-size: 34px;
  line-height: 1.05;
}
@media only screen and (min-width: 768px) {
  .h2 {
    font-size: 64px;
    line-height: 1.2;
  }
}
@media only screen and (min-width: 1025px) {
  .h2 {
    font-size: 84px;
    line-height: 1.05;
  }
}
.h3 {
  font-size: 32px;
  line-height: 1.15;
}
@media only screen and (min-width: 768px) {
  .h3 {
    font-size: 54px;
  }
}
@media only screen and (min-width: 1025px) {
  .h3 {
    font-size: 76px;
  }
}
.h4 {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.15;
}
@media only screen and (min-width: 768px) {
  .h4 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1025px) {
  .h4 {
    font-size: 64px;
    line-height: 1.2;
  }
}
.h5 {
  font-size: 32px;
  line-height: 1.15;
}
@media only screen and (min-width: 768px) {
  .h5 {
    font-size: 48px;
  }
}
@media only screen and (min-width: 1025px) {
  .h5 {
    font-size: 54px;
  }
}
.h6 {
  font-size: 28px;
  line-height: 1.15;
}
@media only screen and (min-width: 768px) {
  .h6 {
    font-size: 48px;
  }
}
strong {
  font-family: FixelDisplay-Bold, Arial, Helvetica, sans-serif;
}
.d-f {
  display: flex;
}
.d-if {
  display: inline-flex;
}
.f-n {
  flex: none;
}
.fd-r {
  flex-direction: row;
}
.fd-rr {
  flex-direction: row-reverse;
}
.fd-c {
  flex-direction: column;
}
.fd-cr {
  flex-direction: column-reverse;
}
.fw-n {
  flex-wrap: nowrap;
}
.fw-w {
  flex-wrap: wrap;
}
.fw-wr {
  flex-wrap: wrap-reverse;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-c {
  justify-content: center;
}
.jc-sa {
  justify-content: space-around;
}
.jc-sb {
  justify-content: space-between;
}
.ai-fs {
  align-items: flex-start;
}
.ai-c {
  align-items: center;
}
.ai-fe {
  align-items: flex-end;
}
.ai-s {
  align-items: stretch;
}
.ai-b {
  align-items: baseline;
}
.fg-0 {
  flex-grow: 0;
}
.fg-1 {
  flex-grow: 1;
}
.fs-0 {
  flex-shrink: 0;
}
.fs-1 {
  flex-shrink: 1;
}
.fb-a {
  flex-basis: auto;
}
.fb-0 {
  flex-basis: 0;
}
.as-a {
  align-self: auto;
}
.as-fs {
  align-self: flex-start;
}
.as-c {
  align-self: center;
}
.as-fe {
  align-self: flex-end;
}
.as-s {
  align-self: stretch;
}
.as-b {
  align-self: baseline;
}
.fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cover-center {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.u-line {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.no-margin {
  margin: 0 !important;
}
.cur--pointer {
  cursor: pointer;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.pre-line {
  white-space: pre-line;
}
.nowrap {
  white-space: nowrap;
}
.break-word {
  word-break: break-word;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #edeff1;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(70, 130, 180, 0.7);
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
